authorizationEndPoint=""
discoveryEndPoint="https://dev-uarox1yh.us.auth0.com/.well-known/openid-configuration"
discoveryEndPointCacheInMillis=L"360000"
idTokenSigningAlgValues=["RS256"]
issuerURL=""
jwksURI=""
openIdConnectClientId="${openid.provider.auth0.client.id}"
openIdConnectClientSecret="${openid.provider.auth0.client.secret}"
providerName="Auth0"
registeredIdTokenSigningAlg=""
scopes="openid email profile"
subjectTypes=[""]
tokenConnectionTimeout=I"1000"
tokenEndPoint=""
userInfoEndPoint=""